#Ignore
Debug
core
.settings
Release/kNNBaThesis
Release/kNN_test
Release/performance-test/*
Release/src/knn/*
Release/src/grid/*
Release/src/util/*
Release/src/model/*
Release/src/naive-map-reduce/*

#Allow
!Release/makefile
!Release/*.mk
!Release/performance-test/*.mk
!Release/src/knn/*.mk
!Release/src/grid/*.mk
!Release/src/util/*.mk
!Release/src/model/*.mk
!Release/src/naive-map-reduce/*.mk
