#Ignore
Debug
core
.settings
Release/kNNBaThesis
Release/performance-test/*
Release/src/knn/*
Release/src/grid/*
Release/src/util/*
Release/src/model/*

#Allow
!Release/makefile
!Release/*.mk
!Release/performance-test/*.mk
!Release/src/knn/*.mk
!Release/src/grid/*.mk
!Release/src/util/*.mk
!Release/src/model/*.mk
